{% extends 'baseCart.html' %}

{% block title %}
    Giỏ hàng
{% endblock %}

{% block content %}
    <h1>Giỏ hàng</h1>
    {% if cart_items %}
        <table>
            <thead>
                <tr>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Tổng cộng</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.book.name }}</td>
                        <td>
                            <form method="post" action="{% url 'cart:update_quantity' item.pk %}">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10">
                                <button type="submit">Cập nhật</button>
                            </form>
                        </td> 
                        <td>{{ item.book.price }}</td>
                        <td>{{ item.get_item_price }}</td> 
                        <td> 
                            <form method="post" action="{% url 'cart:remove_from_cart' item.pk %}">
                                {% csrf_token %}
                                <button type="submit">Xóa</button>
                            </form>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Tổng cộng:</td>
                    <td>{{ total_price }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Giỏ hàng của bạn đang trống.</p>
    {% endif %}
{% endblock %}
