<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Book</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        {% if user.is_authenticated %}
            <a href="{% url 'User:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'User:login' %}">Login</a>
            <a href="{% url 'User:register' %}">Register</a>
        {% endif %}
        
        <form method="GET" action="{% url 'book:book_search' %}">
            <input type="text" name="query" placeholder="Search by book name or author">
            <button type="submit">Search</button>
        </form>
        <a href="{% url 'cart:cart_detail' %}">View cart</a>
       
        {% block content %}
        {%endblock%}
    </body>
</html>